{% extends "_base.html" %}


{% block main_content %}
    <h1>One simply can:</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'create_user' %}">Create User</a></li>
        <li class="list-group-item"><a href="{% url 'update_user' %}">Update User</a></li>
        <li class="list-group-item"><a href="{% url 'delete_user' %}">Delete User</a></li>
        <li class="list-group-item"><a href="{% url 'get_user_token' %}">Get Token</a></li>
        <li class="list-group-item"><a href="{% url 'validate_user_token' %}">Validate Token</a></li>
    </ul>
{% endblock %}